<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Liquid Refreshment</title>
    <meta name="description" content="Beer Leaderboard for Cloudburst Brewing">
    <meta name="author" content="capricious-slingshot">
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset-stylesheet.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen"/>
  </head>

  <body>
    <div id="mainContent">
      <nav>
        <ul>
          <% if !logged_in? %>
            <li><a href="" id="settings-icon"><img src="/images/settings-icon.jpg" alt="User Settings"></a></li>
            <li><a href="/login" class="quick-menu" <%= 'id="on"' if active_page?("login") %>">Log In</a></li>
            <li><a href="/signup" class="quick-menu" <%= 'id="on"' if active_page?("signup") %>">Signup</a></li>
          <% else %>
            <li><a href="/users/<%= build_slug %>/settings" id="settings-icon"><img src="/images/settings-icon.jpg" alt="User Settings"></a></li>
            <li><a href="/logout"class="menu-item" >Log Out</a></li>
            <li><a href="/users/<%= build_slug %>/beers" class="menu-item" <%= 'id="on"' if active_page?("/users/#{build_slug}/beers") %>">My Beers</a></li>
            <li><a href="/beers" class="menu-item" <%= 'id="on"' if active_page?("/beers") %>">Leaderboard</a></li>
          <% end %>
        </ul>
      </nav>
      <h1>Cloudburst Brewing</h1>
        <% if flash[:success] %>
          <p class="flash" id="success"><%= flash[:success] %></p>
        <% elsif flash[:error] %>
          <% flash[:error].each do |message| %>
            <p class="flash" id="error"><%= message %></p>
          <% end %>
        <% end %>
        <section id="views">
          <%= yield %>
        </section>
    </div>
  </body>
</html>
